{% extends 'header.html.twig' %}

{% block content %}

    <body>
        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="/index.php" class="btn btn-primary">Retour vers la page d'accueil</a>
                    <h1>Mon geublo</h1>
                    Lisez ici ma magnifique catchphrase qui va vous couper le souffle !
                </div>
                <div class="col">
                    {% for article in articles %}
                        <h2>{{ article.title }}</h2>
                        <p>{{ article.short }}</p>
                        <a href="/index.php" class="btn btn-primary">Btn vers single article</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>

{% endblock %}