{% extends 'header.html.twig' %}

{% block content %}
    <body>
        <div class="container">
            <div class="row">
                    <h1>Mon geublo</h1>
                    <div class="col">
                        Lisez ici ma magnifique catchphrase qui va vous couper le souffle !
                    </div>
                    <div class="col">
                        {% for recentArticle in recentArticles %}
                            <h2>{{ recentArticle.title }}</h2>
                            <p>{{ recentArticle.short }}</p>
                        {% endfor %}
                    </div>
            </div>
            <div class="row">
                <h2>Me contacter</h2>
                    <form method="post" action="/index.php">
                        <div class="form-group">
                            <label for="name" class="form-label">Nom :</label>
                            <input type="text" class="form-control" id="name" placeholder="Entrez votre nom">
                        </div>
                        <div class="form-group">
                            <label for="surname" class="form-label">Prénom :</label>
                            <input type="text" class="form-control" id="surname" placeholder="Entrez votre prénom">
                        </div>
                        <div class="form-group">
                            <label for="email" class="form-label">Email :</label>
                            <input type="email" class="form-control" id="email" placeholder="email@exemple.com">
                        </div>
                        <div class="form-group">
                            <label for="message" class="form-label">Message :</label>
                            <textarea class="form-control" id="message" placeholder="Votre message ici"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    </form>
                </div>
            </div>
        </body>
{% endblock %}

{% block footer %}

{% endblock %}