{% extends 'layout.html.twig' %}

{% block content %}
    <a href="/index.php" class="btn btn-primary">Retour vers la page d'accueil</a>
        <img src="https://http.cat/404" alt="error404">
{% endblock %}