{% extends 'header.html.twig' %}

{% block content %}
    <body>
    <a href="/index.php" class="btn btn-primary">Retour vers la page d'accueil</a>
        <img src="https://http.cat/404">
    </body>
{% endblock %}