{% extends 'layout.html.twig' %}

{% block content %}
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h2>Me contacter</h2>
                <form method="post" action="?action=register">
                    <div class="form-group">
                        <label for="pseudo" class="form-label">Pseudo :</label>
                        <input type="text" class="form-control" id="pseudo" placeholder="Entrez votre pseudo">
                    </div>
                    <div class="form-group">
                        <label for="mail" class="form-label">Email :</label>
                        <input type="email" class="form-control" id="mail" placeholder="email@exemple.com">
                    </div>
                    <div>
                        <label for="isAdmin">Choisissez votre rôle</label>
                        <select id="isAdmin" name="isAdmin" size="2">
                            <option value="true">Administrateur</option>
                            <option value="false">Utilisateur</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="password" class="form-label">Mot de passe :</label>
                        <input type="password" class="form-control" id="password">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-outline-dark">Envoyer</button>
                    </div>
                </form>
            </div>
        </div>
{% endblock %}